#title {
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    font-family: 'Monospace', 'sans-serif', 'Times New Roman'
}

body {
    background-color: lightblue;
}

img {
    height: auto;
    width: 500px;
}

.list {
    font-size: 25px;
    color: yellow;
}
